/*********************************** Cabeçalho - Mobile **************************************/

.topo{
    display: flex;
    align-items: center;
    background: #1F4CCA;
    height: 105px;
}

.chamadaPrincipal{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topo .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menuPrincipal-logo{
    width: 180px;
}

@media (min-width: 380px){
    .menuPrincipal-logo{
        width: 190px;
    }
}

.btn-menu{
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    width: 28px;
}

.menuPrincipal-link{
    display: block;
    color: #1F4CCA;
    text-transform: uppercase;
    padding: 11px 0;
    border-bottom: 1px solid #ddd;
    white-space: nowrap;
    transition: color .4s;
}

.menuPrincipal-link:hover{
    color: rgba(31, 76, 202, 0.6);
    transition: color .4s;
}

.menuPrincipal svg.svg-inline--fa{
    margin-right: 10px;
}

.menuPrincipal{
    display: none;
    background: #F5F6FD;
}

/*********************************** Cabeçalho - Desktop **************************************/

@media (min-width: 768px){  

    .container{
        max-width: 1200px;
    }

    .topo .container{
        justify-content: space-between;
    }

    .menuPrincipal{
        display: block;
        background: none;
    }

    .menuPrincipal-link{
        border: none;
        color: white;
        text-transform: uppercase;
    }

    .menuPrincipal-link:hover{
        color: rgba(255, 255, 255, 0.6);
    }

    .menuPrincipal svg.svg-inline--fa{
        display: none;
    }

    .menuPrincipal-list{
        display: flex;
    }

    .menuPrincipal-list-item{
        padding: 0 20px;
    }

    .btn-areaDoAluno{
        display: inline-block;
        font-weight: bold;
        font-size: .9rem;
        color: #eee;
        border: 1px solid #eee;
        border-radius: 7px;
        padding: 10px;
        background: #2F62D3;
        transition: background .7s;
    }

    .btn-areaDoAluno:hover{
        background: #eee;
        color: #1F4CCA;
        transition: background .7s;
    }