/*********************************** Cabeçalho - Mobile **************************************/

/* Div criada apenas para funcionamento do script de responsividade do menu */
.topo{
    display: flex;
    align-items: center;
    background: #0253a2;
    height: 105px;
}

/* Container da div topo */
.topo .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo do Header */
.menuPrincipal-logo{
    width: 180px;
}

/* Botão hamburguer do Menu mobile */
.btn-menu{
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    width: 28px;
}

/* Nav do menu principal */
.menuPrincipal{
    display: none;
    background: #F5F6FD;
}

/* Icones presentes nos links mobile */
.menuPrincipal svg.svg-inline--fa{
    width: 18px;
    margin-right: 10px;
}

/* Links do menu */
.menuPrincipal-link{
    display: block;
    color: #0253a2;
    text-transform: uppercase;
    padding: 11px 0;
    border-bottom: 1px solid #ddd;
    white-space: nowrap;
    transition: color .4s;
}
    /* Link hover */
    .menuPrincipal-link:hover{
        color: rgba(2,83,162,0.6);
        transition: color .4s;
    }


/*********************************** Cabeçalho - Desktop **************************************/

@media (min-width: 768px){

    /* Nav do menu principal */
    .menuPrincipal{
        display: block;
        background: none;
    }

    /* Icones presentes nos links mobile */
    .menuPrincipal svg.svg-inline--fa{
        display: none;
    }

    /* Links do menu */
    .menuPrincipal-link{
        border: none;
        color: white;
    }   
        /* Link hover */
        .menuPrincipal-link:hover{
            color: rgba(255, 255, 255, 0.6);
        }

    /* ul do Menu */
    ul.menuPrincipal-list{
        display: flex;
    }

    /* Li's do Menu */
    li.menuPrincipal-list-item{
        padding: 0 15px;
    }

        @media (min-width: 1024px){
            /* Li's do Menu */
            li.menuPrincipal-list-item{
                padding: 0 17px;
            }
            
            /* Logo do Header */
            .menuPrincipal-logo{
                width: 190px;
            }
        }

        @media (min-width: 1200px){
            /* Li's do Menu */
            li.menuPrincipal-list-item{
                padding: 0 20px;
            }
        }

    /* Botão da Área do Aluno */
    .btn-areaDoAluno{
        display: block;
        font-weight: bold;
        font-size: .9rem;
        color: #eee;
        border: 1px solid #eee;
        border-radius: 7px;
        padding: 10px;
        background: #0a5fa5;
        transition: background .7s;
    }
        /* Hover do Botão de Área do Aluno */
        .btn-areaDoAluno:hover{
            background: #eee;
            color: #0a5fa5;
            transition: background .7s;
        }
