/************************************* Seção Sobre - Mobile *****************************************/


#chamadaDeVideo{
    background: #f5f6fd;
    padding-bottom: 20px;
}

#chamadaDeVideo .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#chamadaDeVideo h2{
    font-size: 1.5rem;
}

#chamadaDeVideo p{
    font-size: 1.2rem;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: #4a535a;
}

#chamadaDeVideo .embed{
    position: relative;
    width: 100%;
    max-width: 100%;
    padding-bottom: 56.25%;
    margin-bottom: 30px; 
    height: 0;
    border: 10px solid white;
    box-shadow: 0 0 .5em rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

    @media (min-width: 425px){
        #chamadaDeVideo .embed{
            border: 15px solid white; 
        }
    }

    @media (min-width: 650px){
        #chamadaDeVideo .embed{
            width: 90%;
            padding-bottom: 49.25%; 
        }
    }

    @media (min-width: 800px){
        #chamadaDeVideo .embed{
            width: 70%;
            padding-bottom: 37.25%; 
        }
    }

#chamadaDeVideo .embed iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}


/************************************* Seção Sobre - Desktop *****************************************/

@media (min-width: 1250px){
    #chamadaDeVideo{
        padding-bottom: 35px;
    }
    
    #chamadaDeVideo h2{
        font-size: 1.8rem;
    }

    #chamadaDeVideo p{
        font-size: 1.5rem;
    }
}