#contato-home{
    background: #0e7dac;
    text-align: center;
    color: white;
    padding: 20px 0;
}

#contato-home .link{
    display: block;
    margin: 15px auto 0 auto;
    background: #02B875;
    max-width: 200px;
}

#contato-home .link:hover{
    background: rgba(2, 184, 117, .75);
    transition: background .5s;
}