#formulario-contato{
    width: 100%;
    max-width: 650px;
    margin: 35px auto;
    color: #4a535a;
}

#formulario-contato .campo-formulario{
    width: 100%;
    margin-bottom: 20px;
}

#formulario-contato label{
    text-transform: uppercase;
    font-size: .85rem;
    font-weight: bold;
}

#formulario-contato input,
#formulario-contato textarea{
    padding: 6px;
    border: 1px solid rgba(74, 83, 90, .45);;
    border-radius: 5px;
}

#formulario-contato textarea{
    resize: vertical;
    min-height: 150px;
}

    @media (min-width: 380px){
        #formulario-contato input,
        #formulario-contato textarea{
            padding: 8px;
        }
    }

    @media (min-width: 768px){
        #formulario-contato{
            margin: 40px auto;
        }
        #formulario-contato input,
        #formulario-contato textarea{
            padding: 10px;
        }
        #formulario-contato label{
            font-size: 1rem;
        }
    }

#formulario-contato .btn-enviar{
    background: #02B875;
    border: none;
    padding: .7rem 1.2rem;
    margin: 0 auto;
    cursor: pointer;
}


#formulario-contato input,
#formulario-contato label{
    display: block;
    margin-bottom: 5px;
}

#formulario-contato .preenchimento{
    width: 100%;
    box-sizing: border-box;
}

    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #ccc;
        opacity: 1; /* Firefox */
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #ccc;
    }

    ::-ms-input-placeholder { /* Microsoft Edge */
        color: #ccc;
    }

.status{
    display: none;
    padding: 15px;
    background: #02B875;
    font-size: 1rem;
    border-radius: 5px;
    color: white;
    text-align: center;
    margin-bottom: 30px;
}