*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

body{
    font-family: 'Ubuntu', sans-serif;
}

.container{
    width: 92%;
    margin: 0 auto;
}

/*********************************** Cabeçalho Mobile **************************************/

.topo{
    display: flex;
    align-items: center;
    background: #1F4CCA;
    height: 105px;
}

.topo .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menuPrincipal-logo{
    width: 180px;
}

.btn-menu{
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    width: 28px;
}

.menuPrincipal-link{
    display: block;
    color: #1F4CCA;
    text-transform: uppercase;
    padding: 11px 0;
    border-bottom: 1px solid #ddd;
    white-space: nowrap;
}

.menuPrincipal-link:hover{
    color: rgba(31, 76, 202, 0.6);
}

svg.svg-inline--fa{
    margin-right: 10px;
}

.menuPrincipal{
    display: none;
    background: #F5F6FD;
}

/************************************* Showcase Mobile *****************************************/

#showcase{
    background: #1F4CCA;
    color: #eee;
    padding-bottom: 4rem;
}

#showcase .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#showcase h1{
    margin: 0;
    padding-top: 1.15rem;
}

#showcase p{
    font-size: 1.15rem;
    margin: 1.6rem 0;
}

#showcase .link{
    display: block;
    background: #02B875;
    text-align: center;
    padding: .6rem;
    border-radius: 7px;
    color: white;
    text-transform: uppercase;
    font-size: .85rem;
    font-weight: bold;
    width: 200px;
    margin-top: 5px;
    transition: background .4s;
}

#showcase .link:hover{
    color: #eee;
    background: rgba(2, 184, 117, 0.6);
    transition: background .4s;
}

@media (min-width: 768px){

    /*********************************** Cabeçalho Desktop **************************************/

    .container{
        max-width: 1200px;
    }

    .topo .container{
        justify-content: space-between;
    }

    .menuPrincipal{
        display: block;
        background: none;
    }

    .menuPrincipal-link{
        border: none;
        color: white;
        text-transform: uppercase;
    }

    svg.svg-inline--fa{
        display: none;
    }

    .menuPrincipal-list{
        display: flex;
    }

    .menuPrincipal-list-item{
        padding: 0 20px;
    }

    .btn-areaDoAluno{
        display: inline-block;
        border: 2px solid white;
        border-radius: 30px;
        padding: 10px;
        background: #2F62D3;
        color: white;
        transition: background .7s;
    }

    .btn-areaDoAluno:hover{
        background: white;
        color: #1F4CCA;
        transition: background .7s;
    }

    
    

}