*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

body{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
}

.container{
    width: 92%;
    margin: 0 auto;
}

/*********************************** Cabeçalho Mobile **************************************/

.topo{
    display: flex;
    align-items: center;
    background: #1F4CCA;
    height: 105px;
}

.chamadaPrincipal{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topo .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menuPrincipal-logo{
    width: 180px;
}

.btn-menu{
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    width: 28px;
}

.menuPrincipal-link{
    display: block;
    color: #1F4CCA;
    text-transform: uppercase;
    padding: 11px 0;
    border-bottom: 1px solid #ddd;
    white-space: nowrap;
    transition: color .4s;
}

.menuPrincipal-link:hover{
    color: rgba(31, 76, 202, 0.6);
    transition: color .4s;
}

svg.svg-inline--fa{
    margin-right: 10px;
}

.menuPrincipal{
    display: none;
    background: #F5F6FD;
}

/************************************* Showcase Mobile *****************************************/

#showcase{
    background: #1F4CCA;
    color: #eee;
    padding-bottom: 3.5rem;
    text-align: center;
}

#showcase .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#showcase h1{
    margin: 0;
    padding-top: 1.5rem;
}

#showcase p{
    font-size: 1.15rem;
    margin: 1.6rem 0;
}

#showcase .link{
    display: block;
    background: #02B875;
    text-align: center;
    padding: .6rem;
    border-radius: 7px;
    color: white;
    text-transform: uppercase;
    font-size: .85rem;
    font-weight: bold;
    width: 200px;
    margin-top: 5px;
    transition: background .5s;
}

#showcase .link:hover{
    background: rgba(2, 184, 117, 0.8);
    transition: background .5s;
}

@media (min-width: 768px){

    /*********************************** Cabeçalho Desktop **************************************/

    .container{
        max-width: 1200px;
    }

    #showcase, #showcase .container{
        height: 400px;
    }

    #showcase{
        background: #1F4CCA url("../img/bg-showcase.png") repeat-x;
        background-position: bottom;
        background-size: contain;
    }

    .topo .container{
        justify-content: space-between;
    }

    .menuPrincipal{
        display: block;
        background: none;
    }

    .menuPrincipal-link{
        border: none;
        color: white;
        text-transform: uppercase;
    }

    .menuPrincipal-link:hover{
        color: rgba(255, 255, 255, 0.6);
    }

    svg.svg-inline--fa{
        display: none;
    }

    .menuPrincipal-list{
        display: flex;
    }

    .menuPrincipal-list-item{
        padding: 0 20px;
    }

    .btn-areaDoAluno{
        display: inline-block;
        font-weight: bold;
        font-size: .9rem;
        color: #eee;
        border: 1px solid #eee;
        border-radius: 7px;
        padding: 10px;
        background: #2F62D3;
        transition: background .7s;
    }

    .btn-areaDoAluno:hover{
        background: #eee;
        color: #1F4CCA;
        transition: background .7s;
    }

    /************************************* Showcase Desktop *****************************************/

    #showcase{
        padding-bottom: 0;
    }

    #showcase .container{
        background-image: url("../img/venci-md.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom;
        align-items: flex-start;
    }
    
    #showcase .chamadaPrincipal{
        width: 50%;
        text-align: left;
        align-items: flex-start;
    }

    #showcase h1{
        font-size: 1.9rem;
        padding-top: 1rem;
    }

    #showcase p{
        font-size: 1rem;
    }

    @media (min-width: 844px){
        #showcase h1{
            padding-top: 2.5rem;
        }       
    }

    @media (min-width: 1024px){
        #showcase h1{
            padding-top: 4rem;
        } 

        #showcase p{
            font-size: 1.15rem;
        }

        #showcase, #showcase .container{
            height: 500px;
        }
    }

    @media (min-width: 1200px){


        #showcase .container{
            background-image: url("../img/venci-lg2.png");
        }
        #showcase, #showcase .container{
            height: 550px;
        }
    }

}