/************************************* Seção Sobre - Mobile *****************************************/

#sobre{
    background: #fff;
    padding-bottom: 30px;
}

#sobre .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sobre .img-sobre{
    display: block;
    margin: 0 auto 20px auto;
    max-height: 58px;
}

#sobre h2.pq{
    text-align: center;
    color: #4a535a;
}

#sobre div.titulo{
    margin: 35px 0;
}

#sobre p{
    font-size: 1.05rem;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: #4a535a;
}

#sobre .diferenciais{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

#sobre .diferenciais .box{
    width: 100%;
    max-width: 350px;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-bottom: 25px;
}

@media (min-width: 680px){
    #sobre .diferenciais .box{
        width: 49%;
        max-width: 325px;
    }
}

#sobre .diferenciais .box .titulo{
    font-size: 1.05rem;
    text-align: center;
}


/************************************* Seção Sobre - Desktop *****************************************/

@media (min-width: 1024px){
    #sobre .diferenciais .box{
        max-width: 300px;
    }
}

@media (min-width: 1250px){
    #sobre h2{
        font-size: 1.8rem;
    }
    
    #sobre div.titulo{
        margin: 50px 0;
    }

    #sobre .diferenciais .box{
        width: 33%;
        box-sizing: content-box;
        margin: 25px 20px 50px 20px;
    }
}